[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
requests = "*"
python-telegram-bot = "20.0a4"
python-dotenv = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10.6"

[pipenv]
allow_prereleases = true

[scripts]
start = "python ./src/bot.py"
"docker:start" = "docker-compose up -d --build"
"docker:stop" = "docker-compose down"
"docker:restart:bot" = "docker-compose up -d --build --force-recreate bot"